body {
  font-family: Arial;
  background: #111;
  color: #eee;
  padding: 20px;
}

input, button {
  padding: 8px;
  margin: 5px 0;
}

div {
  background: #222;
  padding: 10px;
  margin-top: 10px;
}
